.section {
    padding: 10px;
    line-height: 1.5;
}

.section__headline {
    font-size: 20px;
    color: #000000;
}

.section__image {
    max-width: 200px;
    width: 100%;
    border: #808000 solid 5px;
}